
#root{
  width: 77%;
  height: 78%;
}

.App {
  display: flex;
  flex-direction: column;
}

@media (max-width:600px) {
  body{
    width: 100%;

  }
  #root{
    width: 93%;
    height: 1872px;
    position: absolute;
    top: 15px;
  }
  .App {
    height: 100%;
  }
}