@import url('https://fonts.google.com/specimen/Inter');


.App {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5vh;
}
body {
padding :2% 16%;
background-color: hsl(36, 100%, 99%);
}

@media (max-width:600px) {
  body{
    padding :2% 4%;

  }
}