$Inter : "Inter-Regular";
$InterBold : "Inter-Bold";
$InterExtraBold : "Inter-ExtraBold";
$DarkSpaceBlue :#00001A;
$Gunmetal:#5E607A;

@font-face {
  font-family: "Inter-Regular";   /*Can be any text*/
  src: local("Inter-Regular"),
    url("./Fonts/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Bold";   /*Can be any text*/
  src: local("Inter-Bold"),
    url("./Fonts/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBold";   /*Can be any text*/
  src: local("Inter-ExtraBold"),
    url("./Fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #FFFDFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }